{% extends 'layout.html' %}
{% load static %}
{% block content %}
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <div class="text-value">{{post_queue_length}} / {{seed_queue_length}}</div>
                    <div>Post / Seed crawl queue</div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                  <div class="card-body">
                    <div class="text-value">{{warc_file_count}}</div>
                    <div>WARC files</div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body">
                    <div class="btn-group float-right">
                    </div>
                    <div class="text-value">{{archive_size}} Gb</div>
                    <div>Archive size</div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-danger">
                  <div class="card-body">
                    <div class="btn-group float-right">
                    </div>
                    <div class="text-value">{{crawl_error_count}}</div>
                    <div>Crawl errors</div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-5">
                    <h4 class="card-title mb-0">Stats (hours ago)</h4>
                  </div>
                </div>
                <div class="chart-wrapper" style="height:300px">
                  <canvas class="chart" id="main-chart"></canvas>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
              <table class="table table-responsive-sm table-hover table-outline">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">
                            Id
                          </th>
                          <th>Post</th>
                          <th class="text-right">Size (Kb)</th>
                          <th class="text-center">Type</th>
                          <th>Created</th>
                        </tr>
                      </thead>
                      <tbody style="background-color:white">
                      {% if not last_posts %}
                      <tr>
                      <td colspan="5">No posts archived yet. Go to the admin view and add seed URLs to a collection.</td>
                      </tr>
                      {% endif %}
                      {% for post in last_posts %}
                        <tr>
                          <td class="text-center">
                            <div>
                              <a style="color:black" href="/admin/munin/post/{{post.id}}/change/">{{post.id}}</a>
                            </div>
                            <span>
                            {% if post.last_error|length > 0 %}
                            <i class="fa fa-times" style="color:red"></i>
                            {% else %}
                            <i class="fa fa-check" style="color:green"></i>
                            {% endif %}
                            </span>
                          </td>
                          <td>
                            <div><a href="{{post.url}}" target="_blank">{{post.url|slice:":100"}}</a></div>
                            <div class="small text-muted">
                              <span>Seed:</span> {{post.seed}}</div>
                          </td>
                          <td>
                              <div class="text-right">
                                <strong>{{post.warc_size_kb}}</strong>
                              </div>
                          </td>
                          <td class="text-center">
                          {% if post.url|slice:":25" == 'https://www.instagram.com' %}
                            <i class="fa fa-instagram" style="font-size:24px"></i>
                            <span class="sr-only">Instagram</span>
                            {% else %}
                            <i class="fa fa-facebook" style="font-size:24px"></i>
                            <span class="sr-only">Facebook</span>
                            {% endif %}
                          </td>
                          <td>
                            <strong>{{ post.last_crawled_at|timesince }} ago</strong>
                          </td>
                        </tr>


                        {% endfor %}
                        </tr>
                      </tbody>
                    </table>
              
              </div>
            </div>
            <!-- /.card-->
          </div>

 {% endblock %}